body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: white;
}

a:hover {
    cursor: pointer;
}

.container {
    min-width: 1170px;
}

/* --------------------masthead-------------------- */

.masthead {
    background: url("head.png") center no-repeat;
    background-size: auto;
    height: 100%;
}

.masthead__header {
    width: 1170px;
    margin: auto;
    height: 25px;
    padding: 38px 0;
    border-bottom: 1px solid #4f5168;
}

.logo {
    background-image: url("activebox.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 25px;
    width: 190px;
    float: left;
    display: inline-block;
    vertical-align: middle;
}

.menu {
    font-weight: bold;
    float: right;
    display: inline-block;
    vertical-align: middle;
    line-height: 25px;
}

.menu__item {
    font-size: 13px;
    margin: 0 29px;
    text-transform: uppercase;
}

.menu__item:hover {
    text-decoration: underline;
}

.item-first {
    margin-left: 0;
}

.item-last {
    margin-right: 0;
}

.masthead__content {
    width: 1170px;
    margin: auto;
    padding-top: 140px;
    padding-bottom: 160px;
    text-align: center;
}

.masthead__head-text {
    width: 100%;
    padding-bottom: 17px;
    line-height: 75px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    text-transform: uppercase;
}

.masthead__text {
    font-size: 22px;
    width: 100%;
    line-height: 33px;
    padding-bottom: 73px;
    margin: auto;
}

.masthead__button {
    color: white;
    font-size: 13px;
    background: #e84545;
    border-radius: 0;
    border: 0;
    padding: 15px 48px;
    margin: auto;
    text-transform: uppercase;
}

.masthead__button:hover {
    cursor: pointer;
    outline: 2px solid rgba(255, 255, 255, 0.3);
}

/* --------------------features------------------ */

.features {
    color: black;
    width: 1170px;
    margin: auto;
    padding: 117px 0 47px 0;
    background-color: white;
    text-align: center;
}

.features__row {
    display: block;
}

.features__box {
    display: inline-block;
    width: 33%;
    margin: auto;
}

.features__head {
    font-size: 14px;
    margin-bottom: 17px;
    text-transform: uppercase;
}

.features__text {
    font-size: 14px;
    padding: 0 40px;
    line-height: 21px;
    margin-bottom: 73px;
}

.features__icons {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 63px;
    background: url("feature_sprite.png") no-repeat;
    background-size: cover;
}

.features__icon1 {
    background-position: 0 0;
    width: 68px;
}

.features__icon2 {
    background-position: -80px 0;
    width: 80px;
}

.features__icon3 {
    background-position: -175px 0;
    width: 50px;
}

.features__icon4 {
    background-position: -233px 0;
    width: 60px;
}

.features__icon5 {
    background-position: -301px 0;
    width: 80px;
}

.features__icon6 {
    background-position: -392px 0;
    width: 80px;
}

/* --------------------works------------------ */

.works {
    height: 700px;
    border: white solid 2px;
}

.works__work {
    display: inline-block;
    width: 24.8%;
    height: 50%;
    float: left;
    border: 1px solid white;
}

.works__work:hover .works__hover-box {
    visibility: visible;
    background: rgba(232, 69, 69, 0.9);
    cursor: pointer;
}

.works__work1 {
    background: url("work1.png") center no-repeat;
    background-size: cover;
}

.works__work2 {
    background: url("work2.png") center no-repeat;
    background-size: cover;
}

.works__work3 {
    background: url("work3.png") center no-repeat;
    background-size: cover;
}

.works__work4 {
    background: url("work4.png") center no-repeat;
    background-size: cover;
}

.works__work5 {
    background: url("work5.png") center no-repeat;
    background-size: cover;
}

.works__work6 {
    background: url("work6.png") center no-repeat;
    background-size: cover;
}

.works__work7 {
    background: url("work7.png") center no-repeat;
    background-size: cover;
}

.works__work8 {
    background: url("work8.png") center no-repeat;
    background-size: cover;
}

.works__hover-box {
    position: relative;
    visibility: hidden;
    text-align: center;
    height: 100%;
}

.works__text-box {
    width: 100%;
    position: absolute;
    top: 35%;
}

.works__head {
    margin: 0;
    font-size: 14px;
    line-height: 50px;
    text-transform: uppercase;
}

.works__text {
    font-size: 14px;
}

/* --------------------team------------------ */

.team {
    height: 710px;
    color: black;
    margin: auto;
    padding-top: 100px;
    width: 1170px;
    clear: both;
}

.team__box {
    float: left;
    display: inline-block;
    width: 257px;
    text-align: left;
    margin: 0 22px;
}

.team__box-left {
    margin-left: 0;
}

.team__box-right {
    margin-right: 0;
}

.team__photo {
    height: 270px;
    width: 270px;
}

.team__photo1 {
    background: url("team1.png") center no-repeat;
    background-size: cover;
}

.team__photo2 {
    background: url("team2.png") center no-repeat;
    background-size: cover;
}

.team__photo3 {
    background: url("team3.png") center no-repeat;
    background-size: cover;
}

.team__photo4 {
    background: url("team4.png") center no-repeat;
    background-size: cover;
}

.team__head {
    display: block;
    font-size: 22px;
    margin-top: 25px;
}

.team__position {
    color: #e84545;
    font-size: 13px;
    margin-top: 8px;
    text-transform: uppercase;
}

.team__text {
    font-size: 14px;
    line-height: 21px;
    margin-top: 21px;
}

.team__links {
    margin-top: 25px;
}

.team__sprite {
    display: inline-block;
    background: url("sprite_team.png") no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
}

.team__sprite:hover {
    outline: 1px solid #c6cacc;
}

.team__facebook {
    background-position: left;
}

.team__twitter {
    background-position: center;
}

.team__linkedin {
    background-position: right;
}

/* --------------------info------------------ */

.info {
    background-color: #3a3e64;
    margin:auto;
    height: 100%;
}

.info__content {
    width: 1170px;
    margin: auto;
    padding: 60px 0 70px 0;
    text-align: center;
    line-height: 30px;
}

.info__head {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.info__text {
    font-size: 14px;
}

.info__location {
    display: inline-block;
    width: 33%;
    vertical-align: top;
}

.info__share {
    display: inline-block;
    width: 33%;
    vertical-align: top;
}

.info__logo-row {
    padding-top: 10px;
}

.info__logo {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 3.5px;
    background: url("info_sprite.png")no-repeat;
    background-size: cover;
}

.info__logo:hover {
    background-color: #616483;
}

.info__logo-fb {
    background-position: left;
}

.info__logo-tw {
    background-position: center;
}

.info__logo-in {
    background-position: right;
}

.info__about {
    display: inline-block;
    width: 33%;
    vertical-align: top;
}

/* --------------------footer------------------ */

.footer {
    background-color: #313454;
    margin:auto;
    height: 100%;
}

.footer__content {
    text-align: center;
    padding: 20px 0 30px 0;
    font-size: 14px;
    line-height: 22px;
}

.footer__graytext {
    color: grey;
}

.footer__heart {
    color: #e84545;
}